@import url(./public/main.css);
@import url(./public/variables.css);

.home-body{
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.header{
    flex-basis: 4rem;
    width: 100%;
    background-color: var(--secondary-color);
    color: var(--white);
    position: relative;
    z-index: 3;
    border-bottom: 1px solid var(--secondary-color-desaturated);
}


.pb-container{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: .8rem 0;
}

.pb-container .pb-logo{
    color: var(--primary-color);
    font-size: 2rem;
    font-family: 'Lobster', cursive;
}

.pb-container .pb-nav__items{
    display: flex;
    flex-flow: row nowrap;
    margin-left:auto;
    align-items: center;
}


.pb-nav__items a{
    font-size: 1.2rem;
    color: var(--white);
    padding: .8rem 1rem;
}

.pb-nav__items a:hover{
    color: var(--primary-color);
}

.pb-social, .pb-hamburger{
    font-size: 1.5rem;
    margin-top: 8px;
}

.pb-hamburger{
    color: var(--white);
    display: none;
}

/* <!-- ==============side nav menu when screen is small======= --> */

.home__hero-section{
    position: relative;
    /* padding-bottom: 3rem; */
    flex-grow: 1;
}

/* ========side bar ====== */
.nav__list{
    background-color: var(--white);
    /* height: 100%; */
    width: 240px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: -240px;
    z-index: 2;
    transition: all .3s ease-in;
    display: none;
}

.show-sidebar{
    left: 0;
}

.pb-nav__list--items{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    padding-top: 5rem;
}
.pb-nav__list--items li > *{
    color: var(--secondary-color);
    font-weight: 600;
}
.pb-nav__list--items li > *:hover{
    color: var(--primary-color);
}

/* ================hero landing page styling=========== */

.main-content{
    background-color: var(--secondary-color);
    color: var(--white);
    padding-bottom: 2rem;
  }
.main-content-container{
    display: flex;
    flex-direction: row wrap;
    justify-content: space-between;
    align-items: center;
    /* background-color: tomato; */
}
.main-content-left-section{
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
.hero__title{
    text-transform: uppercase;
    font-size: 5rem;
    font-weight: 800;
    line-height: .8;
    margin-bottom: 2rem;

}
.hero__sub-title{
    font-weight: 400;
    margin-bottom: 4rem;
    line-height: 1.5;
}

.copy-paste{
    color: var(--primary-color);
}

.btn{
    padding: .8rem 1rem;
    border: none;
    outline: none;
    border-radius: 30px;
    margin-right: 1rem;
    transition: all .3s ease-in-out;
}

.btn-primary{
    background-color: var(--primary-color);
    color: var(--white);
    padding: .9rem 1rem;
    font-size: 1rem;
    box-shadow: inset -4px -4px 6px #581b3a, inset 6px 8px 18px #f3bed9, 4px 4px 8px hsla(330, 46%, 43%,.1);
    transition: box-shadow .3s ease-in;
}
.btn-primary:hover{
    /* background-color: var(--primary-color-light); */
    box-shadow: inset -1px -1px 6px #aa3771, inset 1px 1px 4px #f3bed9;
}
.btn-secondary{
    background-color: transparent;
    color: var(--primary-color);
    border: 1.5px solid var(--primary-color);
}
.btn-secondary:hover{
    color: var(--primary-color-light);
    border-color: var(--primary-color-light);
}


.main-content-right-section{
    flex-basis: 100%;
}

.main-content-right-section{
    min-width: 300px;
}

.footer{
    flex-basis: 3rem;
    background-color: var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding:1rem 0;
    color:var(--secondary-color-medium);
    position:relative;
    bottom:0;
    left:0;
    right:0;

    border-top: 1px solid var(--secondary-color-desaturated);
}

.footer a{
    color:var(--primary-color-light);
  border-bottom: 1px solid transparent;
  transition: all .6s ease-in;

}
.footer a:hover{
  border-bottom: 1px solid var(--primary-color-lighter);
}

/* =================Installation-guide on index.html============== */
.installation-conatainer{
    background-color: var(--secondary-color);
    color: var(--white);
    padding: 2rem 0;
    border-top: 1px solid var(--secondary-color-desaturated);
}

.section__embed-home
{
    margin: 2rem auto;
    border: 1px solid var(--secondary-color-desaturated);
    border-radius: .5rem;
    padding: 1rem;
}


@media screen and (max-width:600px) {
    .pb-container .pb-nav__items{
        display: none;
    }
    .pb-hamburger{
        display: block;
    } 
    .nav__list
    {
        display: block;
    }

    .main-content-container{
        flex-direction: column-reverse;
        align-items: center;
    }
    
}

@media screen and (max-width:1100px) {
    .home__hero-section{
        
        padding:5rem 0;
    }
}