@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat:wght@100;300;400;500;600;700;900&family=Poppins:wght@400;600;700&display=swap');
@import url(./variables.css);
@import url(./reset.css);
@import url(./components/alert/alert.css);
@import url(./components/avatar/avatar.css);
@import url(./components/badge/badge.css);
@import url(./components/button/button.css);
@import url(./components/card/card.css);
@import url(./components/image/image.css);
@import url(./components/input/input.css);
@import url(../style.css);

.doc__header{
    position: fixed;
    z-index: 3;
}

.doc__hero-section{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    position: relative;
}

.doc__sidebar{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 240px;
    padding-top:4rem ;
    background-color: var(--secondary-color);
    color: var(--white);
    transition: transform .4s ease;
    overflow-y: auto;

}

.mini__container{
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    gap: 1rem;   
    width: 80%;
    margin: 2rem auto;
}

.mini__container h3{
    text-align: center;
    color: var(--secondary-color-medium);
    text-transform: uppercase;
    font-weight: 400;
}

.doc__sidebar--items{
    width: 90%;
    display: flex;
    flex-flow: column nowrap;
}

.doc__sidebar--items > *{
    
    padding: 1rem 0rem 3px 1rem;
    border-bottom: 2px solid transparent;
    border-bottom-left-radius:10px;
    transition: all .3s ease;
}

.doc__sidebar--items > *:hover ,
.doc__sidebar--items > *:active {
    border-color: var(--primary-color);
    transform: translateX(10px);
}

.doc__sidebar--items a{
    display: inline-block;
    width: 100%;
    padding: .2rem 0rem;
    color: var(--white);
}

.doc__sidebar--items > *:hover a,
.doc__sidebar--items > *:active a{
    color: var(--primary-color);
}


.doc__main{
    flex-grow: 1;
    margin-left: 240px;
}

.doc__sidebar--items .active-nav{
    border-color: var(--primary-color);
}
.doc__sidebar--items .active-nav a{
    color: var(--primary-color);
}

.install-section
{
    padding:5rem 1rem 0;
    height: 600px;
    background-color: purple;
}







@media screen and (max-width:600px) {
    .doc__sidebar{
        display: none;
    }
    .doc__main{
        margin-left: 0;
    }
    .show-doc__sidebar{
        display: block;
    }
    
    .hide-doc__sidebar{
        display: none;
    }
    
}


