@import url(./variables.css);
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Montserrat', sans-serif;
    /* font-family: 'Lobster', cursive; */
    /* font-family: 'Poppins', sans-serif; */
}
ul, ol{
    list-style: none;
}
a, a:hover, a:visited, a:active,button{
    text-decoration: none;
    cursor: pointer;
}

.shadow{
    box-shadow: var(--shadow);
}

.container{
    max-width:80%;
    margin: 0 auto;
}
img{
    width: 100%;
    height: auto;
}