@import url(../../main.css);

.toast__container{
    align-items: center;
    position: relative;
}

.btn-toast:hover{
    opacity: .7;
}
.snack{
    background-color: var(--gray-200);
    padding: 0.5rem 1rem;
    border-radius: .5rem;
    position: absolute;
    bottom: 2rem;
    right: 2rem;
    transform: translateY(100%);
    opacity: 0;
    transition: all .3s ease-in-out;
    z-index: 2;
}

.show-snackbar{
    transform: translateY(0);
    opacity: 1;
}