@import url(../../main.css);

.input-field{
    width: 50%;
    padding: .6rem .5rem;
    border: 2px solid var(--secondary-color);
    font-size: 1.1rem;
    border-radius: .3rem;
    caret-color: var(--primary-color);
}
