<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./button.css" />

    <title>Purple Brick | Button</title>
  </head>
  <body>
    <header class="header doc__header" id="header">
      <nav class="pb-container container">
        <a href="../../../index.html" class="pb-logo">Purple-Brick</a>
        <ul class="pb-nav__items">
          <li><a href="../../main.html">Docs.</a></li>
          <li>
            <a href="https://github.com/abhisekgupta001/Brick-UI"
              ><i class="bx bxl-github pb-social"></i
            ></a>
          </li>
          <li>
            <a href="https://twitter.com/dev_abhi_js"
              ><i class="bx bxl-twitter pb-social"></i
            ></a>
          </li>
          <li>
            <a href="https://www.linkedin.com/in/abhisek-gupta-7204101b2/"
              ><i class="bx bxl-linkedin pb-social"></i
            ></a>
          </li>
        </ul>
        <div class="pb-hamburger-container">
          <i class="bx bx-grid-alt pb-hamburger"></i>
        </div>
      </nav>
    </header>
    <section class="doc__hero-section" id="doc__hero-section">
      <aside class="doc__sidebar shadow">
        <div class="mini__container">
          <h3>Components</h3>
          <ul class="doc__sidebar--items">
            <li><a href="../../main.html">Install</a></li>
            <li><a href="../alert/alert.html">Alert</a></li>
            <li><a href="../avatar/avatar.html">Avatar</a></li>
            <li><a href="../badge/badge.html">Badge</a></li>
            <li class="active-nav"><a href="./button.html">Button</a></li>
            <li><a href="../card/card.html">Card</a></li>
            <li><a href="../image/image.html">Image</a></li>
            <li><a href="../input/input.html">Input</a></li>
          </ul>
        </div>
      </aside>
      <main class="doc__main">
        <section class="button-section" id="button-section"></section>
      </main>
    </section>
    <footer id="footer" class="footer">
      <span> Designed and Developed by </span>
      <a href="https://abhisekgupta.netlify.app/"> Abhisek Gupta</a>
    </footer>
    <script src="../../main.js"></script>
  </body>
</html>
